.bio {
  display: flex;
  // justify-content: space-around;
}

.bioImage {
  // position: relative;
  img {
    aspect-ratio: 1 !important;
    border-radius: 50% !important;
    height: 16em !important;
  }
}

.bioContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3em;
}

.bioContentName {
  color: #4948a7;
  font-size: 52px;
  font-weight: 900;
  line-height: 65px;
  margin: 0;
}

.bioContentTagline {
  color: #414141;
  font-size: 37px;
  line-height: 47px;
  margin-bottom: 0.4em;
  margin-top: 0.2em;
}

.bioContentRole {
  color: #414141;
  font-size: 29px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
}
