.bio {
  display: flex;
}

.bioImage {
  img {
    height: 16em;
    width: auto;
    border-radius: 50%;
  }
}

.bioContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3em;
}

.bioContentName {
  font-weight: 900;
  font-size: 52px;
  line-height: 65px;
  color: #4948a7;
  margin: 0;
}

.bioContentTagline {
  font-size: 37px;
  line-height: 47px;
  color: #414141;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

.bioContentRole {
  font-weight: bold;
  font-size: 29px;
  line-height: 36px;
  color: #414141;
  margin: 0;
}
