
.formContent {
  border: 2px solid #939191;
  border-radius: 5px;
  font-size: 1.6em;
  margin-bottom: 1em;
  min-height: 6em;
  padding: 0.8em;
  width: 100%;
}

.formButton {
  background-color: #4948a7;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1.4em;
  padding: 0.6em 1em;
}
